@CHARSET "UTF-8";
.modal_root{
background-color: rgba(0,0,0,.5);
bottom: 0;
left: 0;
overflow-y: auto;
position: fixed;
right: 0;
top: 0;
z-index: 3;
}
.modal_mask{
bottom: 0;
left: 0;
pointer-events: none;
position: fixed;
right: 0;
top: 0;
z-index: 1;
}
.modal_wrap{
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
min-height: 100%;
overflow: auto;
width: auto;
z-index: 2;
}
.modal_LiStyle{
background-color: #fff;
border-bottom: 1px solid #dbdbdb;
}
.modal_listBtn{
background: #fff;
border: none;
color: #262626;
cursor: pointer;
font-size: 16px;
font-weight: 400;
line-height: 50px;
margin: 0;
overflow: hidden;
padding: 0 16px;
text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
width: 100%;
}
.modal_canclebtn {
background: 0 0;
border: none;
cursor: pointer;
height: 36px;
outline: none;
overflow: hidden;
position: absolute;
right: 0;
top: 0;
z-index: 3;
}
.modal_canclebtn::before {
color: #fff;
content: '\00D7';
display: block;
font-size: 36px;
font-weight: 600;
line-height: 36px;
padding: 0;
margin: 0;
}
@media (min-width: 736px){
	.modal_LiStyle {
   		min-width: 510px;
	}
}
@media (max-width: 735px){
	.modal_UlPosition, .modal_LiStyle {
    	width: 100%;
	}
}
@media (min-width: 481px){
	.modal_wrap {
   		padding: 0 40px;
    	pointer-events: none;
    	-webkit-transform: translate3d(0,0,0);
    	transform: translate3d(0,0,0);
	}
	.modal_wrap::after , .modal_wrap::before{
    	content: '';
    	display: block;
   		-webkit-flex-basis: 40px;
    	-ms-flex-preferred-size: 40px;
    	flex-basis: 40px;
    	-webkit-flex-shrink: 0;
    	-ms-flex-negative: 0;
    	flex-shrink: 0;
	}
}
@media (max-width: 415px){
	.modal_wrap{
		-webkit-box-pack: end;
    	-webkit-justify-content: flex-end;
    	-ms-flex-pack: end;
    	justify-content: flex-end;
    }
}
@media (min-width: 414px){
	.modal_root{
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.modal_center{
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		margin: auto;
		max-width: 935px;
		pointer-events: auto;
		width: 100%;
	}
	.modal_UlPosition {
   		margin: 0 auto;
	}
}
