@CHARSET "UTF-8";
button:active{opacity: .6;}
.mypage_main_bg {
background-color: #fafafa;
}
.mypage_main {
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
-webkit-box-ordinal-group: 5;
-webkit-order: 4;
-ms-flex-order: 4;
order: 4;
}
.mypage_frame {
background-color: #fff;
border: 1px solid #dbdbdb;
border-radius: 3px;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
-webkit-box-pack: stretch;
-webkit-justify-content: stretch;
-ms-flex-pack: stretch;
justify-content: stretch;
margin: 60px auto;
max-width: 935px;
overflow: hidden;
width: 100%;
}
.mypage_menu_navi {
border-right: 1px solid #dbdbdb;
-webkit-flex-basis: 236px;
-ms-flex-preferred-size: 236px;
flex-basis: 236px;
-webkit-box-flex: 0;
-webkit-flex-grow: 0;
-ms-flex-positive: 0;
flex-grow: 0;
-webkit-flex-shrink: 0;
-ms-flex-negative: 0;
flex-shrink: 0;
}
.mypage_menu_li {
border-left: 2px solid transparent;
display: block;
font-size: 16px;
height: 100%;
line-height: 20px;
padding: 16px 16px 16px 30px;
width: calc(100% - 48px);
}
.mypage_menu_li_active {
border-left-color: #262626;
font-weight: 600;
}
.mypage_menu_li_none:hover{
background-color: #fafafa;
border-left-color: #dbdbdb
}
.mypage_menu_li, .mypage_menu_li:active, .mypage_menu_li:hover, .mypage_menu_li:visited {
color: #262626;
}
.mypage_content_wrap {
-webkit-flex: 1 1 400px;
-ms-flex: 1 1 400px;
flex: 1 1 400px;
min-width: 50px;
}
.mypage_frame, .mypage_content_wrap {
-webkit-box-flex: 1;
}
.mypage_content_header_wrap {
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
margin: 32px 0 16px;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
}
.mypage_circle_div {
background-color: #fafafa;
border-radius: 50%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
overflow: hidden;
position: relative;
}
.mypage_circle_div::after {
border: 1px solid rgba(0, 0, 0, .0975);
border-radius: 50%;
bottom: 0;
content: '';
left: 0;
pointer-events: none;
position: absolute;
right: 0;
top: 0;
}
.mypage_circle_div_pos {
height: 38px;
width: 38px;
}
.mypage_circle_btn {
border: 0;
cursor: pointer;
height: 100%;
padding: 0;
width: 100%;
}
.frm_dis_none{
display: none;
}
.mypage_nick_title {
font-size: 24px;
font-weight: 400;
line-height: 38px;
}
.mypage_frm {
-webkit-box-align: stretch;
-webkit-align-items: stretch;
-ms-flex-align: stretch;
align-items: stretch;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
margin-bottom: 16px;
margin-top: 32px;
}
.mypage_row_div {
margin-bottom: 16px;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
}
.mypage_col_aside {
margin-top: 6px;
-webkit-flex: 0 0 194px;
-ms-flex: 0 0 194px;
flex: 0 0 194px;
}
.mypage_col_input_div {
color: #262626;
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
font-size: 16px;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
}
.mypage_col_ta, .mypage_col_input {
background: 0 0;
border: 1px solid #efefef;
border-radius: 3px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
color: #262626;
-webkit-box-flex: 0;
-webkit-flex: 0 1 355px;
-ms-flex: 0 1 355px;
flex: 0 1 355px;
font-size: 16px;
height: 32px;
padding: 0 10px;
}
.mypage_col_ta {
height: 60px;
padding: 6px 10px;
resize: vertical;
}
.mypage_col_input_wk {
-webkit-appearance: none;
}
.mypage_h2 {
color: #999;
font-size: 14px;
font-weight: 600;
text-transform: uppercase;
}
.mypage_select_div {
-webkit-box-flex: 0;
-webkit-flex: 0 1 150px;
-ms-flex: 0 1 150px;
flex: 0 1 150px;
height: 32px;
}
.mypage_select_img_block {
display: block;
overflow: hidden;
text-indent: 110%;
white-space: nowrap;
}
.mypage_select_img_pos {
pointer-events: none;
position: absolute;
right: 12px;
top: 12px;
}
.mypage_select_downArrow {
background-position: -138px -315px;
height: 12px;
width: 12px;
}
.mypage_col_aside {
-webkit-box-sizing: border-box;
box-sizing: border-box;
color: #262626;
-webkit-box-flex: 0;
font-size: 16px;
font-weight: 600;
line-height: 18px;
}
.mypage_select {
background: 0 0;
border: 1px solid #efefef;
border-radius: 3px;
color: #262626;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Helvetica, Arial, sans-serif;
font-size: 16px;
height: 32px;
padding: 0 30px 0 10px;
-moz-appearance: none;
-webkit-appearance: none;
}
.mypage_submit_div {
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
margin-top: 16px;
margin-right: 16px;
}
.mypage_submit_span {
display: block;
position: relative;
}
.mypage_pw_submit_div {
margin-top: 16px;
}
.mypage_submit_blue{
background: #3897f0;
border-color: #3897f0;
color: #fff;
}
.mypage_submit_pd {
padding: 0 24px;
}
.mypage_submit_size {
-webkit-appearance: none;
border-radius: 3px;
border-style: solid;
border-width: 1px;
font-size: 14px;
font-weight: 600;
line-height: 26px;
outline: none;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 100%;
}
.mypage_col_psinput {
background: 0 0;
border: 1px solid #efefef;
border-radius: 3px;
color: #262626;
-webkit-box-flex: 0;
-webkit-flex: 0 1 225px;
-ms-flex: 0 1 225px;
flex: 0 1 225px;
font-size: 16px;
height: 32px;
padding: 0 10px;
}
.mypage_bluebtn_opacity {
opacity: .3;
}
.mypage_p{
font-size: 14px;
line-height: 16px;
}
.mypage_success_p{
color: #4e9f2e;
}
.mypage_fail_p{
color: #ed4956;
}
.dropout_title{
font-size: 24px;
font-weight: 400;
line-height: 38px;
margin: 32px 0;
text-align: center;
}
.dropout_pos p{
margin-bottom: 15px;
line-height: 20px;
}
.p_top_line{
border-bottom: 1px solid #dbdbdb;
padding-bottom: 32px;
}
.dropout_form{
-webkit-box-align: stretch;
-webkit-align-items: stretch;
-ms-flex-align: stretch;
align-items: stretch;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
margin-top: 20px;
}
.dropout_pwcheck_form{
margin-bottom: 16px;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
}
.dropout_aside{
-webkit-box-sizing: border-box;
box-sizing: border-box;
color: #262626;
-webkit-box-flex: 0;
font-size: 16px;
font-weight: 600;
line-height: 34px;
-webkit-flex: 0 0 226px;
-ms-flex: 0 0 226px;
flex: 0 0 226px;
}
.dropout_pw_div{
color: #262626;
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
font-size: 16px;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
}
.dropout_pw_input{
-webkit-appearance: none;
background: 0 0;
border: 1px solid #efefef;
border-radius: 3px;
color: #262626;
font-size: 16px;
height: 32px;
padding: 0 10px;
}
.dropout_bottom_line{
border-bottom: 1px solid #dbdbdb;
padding-top: 16px;
margin-bottom: 32px;
}
.dropout_submit_div{
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
padding: 18px 0;
justify-content: center;
}
@media ( max-width : 965px) and (min-width: 451px) {
	.mypage_frame {
		max-width: calc(100% - 20px);
	}
}
@media ( min-width : 736px) {
	.mypage_circle_div_pos {
		margin: 0 32px 0 124px;
	}
	.mypage_row_div {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.mypage_col_aside {
		padding-right: 32px;
		text-align: right;
	}
	.mypage_col_aside {
		padding-left: 32px;
	}
	.mypage_col_input_div {
		-webkit-flex-basis: 355px;
		-ms-flex-preferred-size: 355px;
		flex-basis: 355px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		padding-right: 60px;
	}
	.dropout_pos{
		padding-left: 65px;
    padding-right: 32px;
    padding-bottom: 32px;
	}
	.dropout_pwcheck_form{
		-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	}
	.dropout_aside{
		padding-right: 32px;
    text-align: right;
	}
	.dropout_pw_div{
		-webkit-flex-basis: 355px;
    -ms-flex-preferred-size: 355px;
    flex-basis: 355px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-right: 60px;
	}
}
@media ( max-width : 735px) {
	.mypage_menu_navi {
		display: none;
	}
	.mypage_circle_div_pos {
		margin: 0 32px 0 20px;
	}
	.mypage_row_div {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.mypage_col_aside {
		-webkit-flex-basis: 25px;
		-ms-flex-preferred-size: 25px;
		flex-basis: 25px;
		padding: 0 20px;
	}
	.mypage_col_input_div {
		-webkit-flex-basis: auto;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		padding: 0 20px;
	}
	.mypage_submit_div {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 100%;
	}
	.dropout_pos{
		padding: 0 20px;
	}
	.dropout_pwcheck_form{
		-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	}
	.dropout_aside{
		-webkit-flex-basis: 25px;
    -ms-flex-preferred-size: 25px;
    flex-basis: 25px;
    padding: 0 20px;
	}
	.dropout_pw_div{
		-webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0 20px;
	}
}
@media ( max-width : 450px) {
	.mypage_frame {
	    border: 0;
	    margin-top: 0;
	}
}
