@CHARSET "UTF-8";
.writehead_div{
height: 43px;
flex-direction: row;
align-items: center;
padding: 8px 16px;
justify-content: space-between;
}
.btnrow{
flex-direction: row;
}
.headbtn1_div{
width:155px;
}
.headbtn2_div{
width:60px;
}
.txt_right{
text-align:right;
}
.marginrt_5{
margin-right: 5px;
}
.headbtn_img{
background-image: url("../img/addimg.png");
background-repeat: no-repeat;
background-position: 0px 0px;
height: 23px;
width: 26px;
position: absolute;
left: 8px;
top: 4px;
}
.writebody_div{
border-top: 1px solid #efefef;
flex-direction: column;
}
.writebody_txt{
background-color: #fff;
align-items:flex-start;
flex-direction: row;
min-height: 150px;
}
.media_view{
background-color: #fff;
overflow: hidden;
}
.media_wrapper{
margin: 5px;
}
.writebody_media{
min-height: 84px;
flex-direction: row;
align-items: flex-start;
overflow-x: auto;
overflow-y: hidden;
-webkit-overflow-scrolling: touch;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.writebody_media::-webkit-scrollbar-track{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
border-radius: 10px;
background-color: #f9f9f9;
}
.writebody_media::-webkit-scrollbar{
height: 8px;
background-color: #f9f9f9;
}
.writebody_media::-webkit-scrollbar-thumb{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
background-color: #999;
}
.draggable_img{
box-sizing: border-box;
cursor: pointer;
height:84px;
width:84px;
margin-right: 5px;
}
.draggable_delbtn{
background-image: url("../img/delbtn.png");
background-repeat: no-repeat;
background-position: -1px -1px;
background-color: transparent;
position: absolute;
border: 0 none;
display: none;
padding: 0;
height: 15px;
width: 15px;
right: 4px;
top: 4px;
z-index: 1;
}
.draggable_playbtn{
background-position: -311px -143px;
background-color: transparent;
position: absolute;
border: 0 none;
padding: 0;
height: 16px;
width: 21px;
left: 33px;
top: 34px;
z-index: 3;
}
.mediaadd_btn{
background-image: url("../img/plusbtn.png");
background-repeat: no-repeat;
background-position: 50%;
background-size: 20px;
border: 2px dashed #dddfe2;
box-sizing: border-box;
border-radius: 2px;
height:84px;
width:84px;
}
.draggable_img:hover .draggable_delbtn{
display: block;
}
.draggable_img:hover .draggable_delbtn:active{
opacity: 0.7;
}
/* jQuery enabled behavior for mobile */
.touch .draggable_img.no-hover .draggable_delbtn{
display: none !important;
}
.scroll_btn{
box-sizing: border-box;
border: 1px solid #e6e6e6;
background: #fff;
color: #fff;
outline: none;
height: 100%;
width: 32px;
}
.scroll_btn:active .imgs{
opacity: 0.7;
}
.scroll_btnleft{
position: absolute;
left: 0px;
top: 0px;
z-index: 4;
}
.scroll_btnleftimg{
background-position: -202px -230px;
width: 18px;
height: 28px;
display: block;
}
.scroll_btnright{
position: absolute;
right: 0px;
top: 0px;
z-index: 4;
}
.scroll_btnrightimg{
background-position: -158px -231px;
width: 18px;
height: 28px;
display: block;
}
.write_profileimg{
width: 92px;
justify-content: flex-start;
}
.write_imgsize_div{
width:82px;
height:82px;
border:1px solid #efefef;
margin:5px;
}
.write_txtareadiv{
flex: 1;
padding:5px 5px 5px 0;
align-self: stretch
}
.txt_areastyle{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
height: 100%;
width: 100%;
max-width:100%;
border: none;
overflow: auto;
outline: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
font-size: 14px;
color: #262626;
resize: none;
}
.margin37{
margin: 0 37px;
}

@media (max-width: 640px){
	.border_gray2 {
        border-top: 0 solid #e6e6e6;
	    border-radius: 3px;
	    margin-left: -1px;
	    margin-right: -1px;
	}
}
